#about {
    padding-top: 85px;
    background-color: $bg;

    .menu-link {
        margin-bottom: 30px;
    }

    .title {
        border-bottom: 1px solid $border;
        padding-bottom: 15px;
        margin-bottom: 45px;

        ::marker {
            color: $link;
        }

        a {
            font: normal 500 14px 'Montserrat', sans-serif;
            line-height: 12px;
            color: $link;
            margin-right: 15px;

        }

        .current-page {
            a {
                color: $black !important;
            }

            &::marker {
                color: $black !important;
            }
        }

        h2 {
            font: normal bold 26px 'Montserrat', sans-serif;
            line-height: 44px;
            color: $main;
        }

        .next-page {
            font: normal 500 16px 'Montserrat', sans-serif;
            line-height: 31px;
            color: $black;

            img {
                margin-left: 10px;
            }
        }
    }

    .about_img {
        padding-bottom: 100px;
        width: 100%;
    }

    h4 {
        font: normal 500 18px 'Montserrat', sans-serif;
        line-height: 29px;
        color: $black;
        margin-bottom: 20px;
    }
    p{
        font: normal normal 18px 'Montserrat', sans-serif;
        line-height: 29px;
        color: #414141;
    }
}