#contact {
    padding-top: 85px;
    background-color: $bg;

    .menu-link {
        margin-bottom: 30px;
    }

    .title {
        border-bottom: 1px solid $border;
        padding-bottom: 15px;
        margin-bottom: 45px;

        ::marker {
            color: $link;
        }

        a {
            font: normal 500 14px 'Montserrat', sans-serif;
            line-height: 12px;
            color: $link;
            margin-right: 15px;

        }

        .current-page {
            a {
                color: $black !important;
            }

            &::marker {
                color: $black !important;
            }
        }

        h2 {
            font: normal bold 26px 'Montserrat', sans-serif;
            line-height: 44px;
            color: $main;
        }

        .next-page {
            font: normal 500 16px 'Montserrat', sans-serif;
            line-height: 31px;
            color: $black;

            &:hover {
                color: $main;

                svg {

                    stroke: $main;

                    path {
                        stroke: $main;
                    }
                }

            }



            img {
                margin-left: 10px;
            }
        }
    }

    .contact-text {
        margin-left: 20px;
        margin-bottom: 40px;

        b {
            font: normal 600 16px 'Montserrat', sans-serif;
            line-height: 12px;
            color: $black;
            text-transform: uppercase;

        }

        p {
            font: normal 500 16px 'Montserrat', sans-serif;
            line-height: 12px;
            color: $black;
            padding-top: 20px;
        }

    }

    .contact-form {
        input {
            background-color: transparent;
            border: none;
            border-bottom: 0.3px solid #B3B3B3;
            border-radius: 0;
            height: auto;
            padding-bottom: 14px;

        }

        label {
            font: normal 300 16px 'Montserrat', sans-serif;
            line-height: 22px;
            color: #B3B3B3;
            padding-left: 0;

        }
        button{
            background: $main;
            border-radius: 5px;
            border: none;
            padding: 15px 50px;
            font: normal normal 16px "Montserrat", sans-serif;
            line-height: 33px;
            color: $white;
            cursor: pointer;
            display: block;
            margin-left: auto;
            margin-top: 50px;
        }
    }

}