#media_{
    padding-top: 85px;
    background-color: $bg;
    .menu-link {
        margin-bottom: 30px;
    }
    .title {
        border-bottom: 1px solid $border;
        padding-bottom: 15px;
        margin-bottom: 45px;
        ::marker{
            color: $link;
        }
        a {
            font: normal 500 14px 'Montserrat', sans-serif;
            line-height: 12px;
            color: $link;
            margin-right: 15px;

        }

        .current-page {
            a {
                color: $black !important;
            }
            &::marker{
                color: $black !important;
            }
        }

        h2 {
            font: normal bold 26px 'Montserrat', sans-serif;
            line-height: 44px;
            color: $main;
        }


    }
    .next-page {
        font: normal 500 16px 'Montserrat', sans-serif;
        line-height: 31px;
        color: $black;

        img {
            margin-left: 10px;
        }
    }

    .news {
        border-radius: 10px;
        margin-bottom: 30px;
        .media__image{
            height: 220px;
            object-fit: cover;
        }
        img{
            padding: 1px;
        }
        .text_ {
            min-height: 180px;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.95);
            padding: 25px 20px 15px 25px;

            h4 {
                font: normal 600 16px 'Montserrat', sans-serif;
                color: $black;
                margin-bottom: 5px;
            }

            p {
                font: normal 300 13px 'Montserrat', sans-serif;
                line-height: 17px;
                color: $black;
                margin-bottom: 20px;
                margin-top: 0;
            }

            .time {
                font: normal normal 12px 'Montserrat', sans-serif;
                line-height: 24px;
                color: $ligt_grey;
            }
        }


    }
    .news_img {

        width: 100%;
        padding-bottom: 20px;
        object-fit: cover;
        min-height: 400px;
    }

    h3 {
        font: normal 600 23px 'Montserrat', sans-serif;
        line-height: 34px;
         color: $black;
    }
    span{
        font: normal normal 14px 'Montserrat', sans-serif;
        line-height: 29px;
        color: #3F3F3F;
    }
    p{
        font: normal normal 16px 'Montserrat', sans-serif;
        line-height: 29px;
        color: $black;
        margin-top: 40px;

    }
    .news_detail {
        border-radius: 10px;
        width: 80%;
        float: right;
        margin-bottom: 25px;
        .text_ {
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.95);
            padding: 25px 20px 15px 25px;

           
            h4 {
                font: normal 600 12px 'Montserrat', sans-serif;
                color: $black;
                line-height: 15px;
                margin-bottom: 5px;
            }

            p {
                font: normal 300 10px 'Montserrat', sans-serif;
                line-height: 17px;
                color: $black;
                margin-bottom: 10px;
                margin-top: 0px;
            }

            .time {
                font: normal normal 10px 'Montserrat', sans-serif;
                line-height: 24px;
                color: $ligt_grey;
            }
        }


    }
}
#media {
    padding-top: 130px;
    background-color: $bg;

    .title {
        border-bottom: 1px solid $border;
        padding-bottom: 15px;
        margin-bottom: 45px;
        ::marker{
            color: $link;
        }
        a {
            font: normal 500 14px 'Montserrat', sans-serif;
            line-height: 12px;
            color: $link;
            margin-right: 15px;

        }

        .current-page {
            a {
                color: $black !important;
            }
            &::marker{
                color: $black !important;
            }
        }

        h2 {
            font: normal bold 26px 'Montserrat', sans-serif;
            line-height: 44px;
            color: $main;
        }

        .next-page {
            font: normal 500 16px 'Montserrat', sans-serif;
            line-height: 31px;
            color: $black;

            img {
                margin-left: 10px;
            }
        }
    }

    .news {
        border-radius: 10px;
        .media__image{
            object-fit: cover;
            height: 220px;
        }
        img{
            padding: 3px;
        }
        .text_ {
            width: 100%;
            min-height: 180px;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.95);
            padding: 25px 20px 15px 25px;

            h4 {
                font: normal 600 16px 'Montserrat', sans-serif;
                color: $black;
                margin-bottom: 5px;
            }

            p {
                font: normal 300 13px 'Montserrat', sans-serif;
                line-height: 17px;
                color: $black;
                margin-bottom: 20px;
                word-break: break-all;
            }

            .time {
                font: normal normal 12px 'Montserrat', sans-serif;
                line-height: 24px;
                color: $ligt_grey;
            }
        }


    }
    
}
