#top_navbar {
    border-bottom: 1px solid $border;
    background-color: $white;
}

.top__nav {
    padding: 15px 0;
    display: $flex;
    justify-content: $justify-content-between;

    .contact__information ul li {
        display: inline;
        margin-right: 40px;

        a {
            font: normal 600 12px 'Montserrat', sans-serif;
            line-height: 12px;
            letter-spacing: 0.03em;
            color: $black;
            &:hover{
                color: $main;
            }
        }

        img {
            margin-right: 12px;
        }
    }

    .sosial__media {
        a {
            margin-right: 20px;
            i {
                width: 16px;
                height: 16px;
                color: $black;
                &:hover{
                    color: $main;
                }
            }
        }

         

        select {
            border: none;
            outline: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            font: normal 500 12px 'Montserrat', sans-serif;
            font-size: 14px;
            line-height: 12px;
            letter-spacing: 0.06em;
            color: $black;
            margin-left: 10px;

            ::-ms-expand {
                display: none;
            }
        }
    }
}

.botton__nav {
    background-color: $white;
    .offcanvas-backdrop.show{
        opacity: 0;
    }
    .offcanvas-end{
        top: 70px;
        border: none;
        width: 100%;
    }
    .offcanvas-header{
        justify-content: flex-end;
    }
    .offcanvas-body{
        .dropdown{
           padding-left: 40px;
        }
        .dropdown-menu{
            border: none;
            height: 100vh;
        .dropdown-item{
            font: normal 300 20px 'Montserrat', sans-serif !important;
            line-height: 12px !important;
            color: #656565 !important;
            border: none;
            border-bottom: 0.5px solid #CFCFCF !important;
            margin:  0 15px !important;
            padding: 15px 30px;
            padding-left: 0;
            width: 90%;
        
        }
        }
        .nav-link {
            font: normal 300 23px 'Montserrat', sans-serif !important;
            line-height: 30px !important;
            color: #656565 !important;
            border-bottom: 0.5px solid #CFCFCF !important;
            margin:  0 0 15px 0 !important;
            padding: 15px 30px;
            padding-left: 0;
            
           
        }
        .nav-item{
            margin-left: 40px;
            &:hover{
                .nav-link {
                background-color: $main;
                color: $white !important;
                }
              
            }
        }
        .dropdown-toggle.show{
            padding: 15px 50px;
            border-bottom: 0.5px solid $main !important;
        }
        .dropdown-toggle.show::after{
             left: 10px;
        }
        .dropdown-toggle::after{
            content: none;
            content: url('../img/leftt.png');
            border: none;
            position: absolute;
            top: 15px;
            right: 20px;
            
        }
    }
    .navbar-nav .nav-item .nav-link {
        font: normal 600 16px 'Montserrat', sans-serif;
        line-height: 50px;
        color: $black;
        margin-right: 50px;
        border-bottom: 1px solid $white;
        &:hover{
            color: $main;
            border-bottom: 1px solid $main;
        }
        
    }
    .navbar-nav .nav-item .nav-link.show{
        color: $main;
        border-bottom: 1px solid $main;
    }
    
    .overlay {
        height: 150px;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: $white;

        form {
            border-bottom: 1px solid $border-input;
        }
    }

    .overlay .closebtn {
        text-align: end;
    }

    .overlay input[type=text] {
        padding: 15px;
        font: normal 500 22px 'Montserrat', sans-serif;
        border: none;
        background: $white;
        line-height: 12px;
        color: $input;
    }
    
    .overlayy {
        background: $white;
        margin: 20px 0;
        width: 100%;
        padding: 5px 35px 15px 35px;
        border-radius: 10px;
    }
    .overlayy form{
        border-bottom: 1px solid $border-input;
    }
    .overlayy input[type=text] {
        padding: 10px;
        font: normal 500 16px 'Montserrat', sans-serif;
        border: none;
       
        background: $white;
        line-height: 12px;
        color: $input;
    }

}

.fixed {
    /* overflow: hidden; */
    background-color: $white;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.navbar .megamenu {
    padding: 1rem;
}

@media all and (min-width: 992px) {

    .navbar .has-megamenu {
        position: static !important;

        &:hover {
            .megamenu {
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
                margin-top: -2px;
                top: 100%;
                padding: 40px 100px;

            }
        }

        .dropdown-toggle::after {
            content: none !important;
        }
    }

    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: -2px;

        background-color: $white;
        padding: 40px 100px;

        h5 {
            font: normal 600 17px "Montserrat", sans-serif;
            line-height: 12px;
            color: $black;
        }

        ul {
            margin-top: 15px;

            li a {
                font: normal normal 15px "Montserrat", sans-serif;
                line-height: 28px;
                color: $black;
            }
        }
    }

}

@media(max-width: 991px) {

    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
}