#product {
    padding-top: 85px;
    background-color: $bg;

    .menu-link {
        margin-bottom: 30px;
    }

    .title {
        border-bottom: 1px solid $border;
        padding-bottom: 15px;
        margin-bottom: 45px;

        ::marker {
            color: $link;
        }

        a {
            font: normal 500 14px 'Montserrat', sans-serif;
            line-height: 12px;
            color: $link;
            margin-right: 15px;

        }

        .current-page {
            a {
                color: $black !important;
            }

            &::marker {
                color: $black !important;
            }
        }


    }



    .detail {
        background-color: $white;
        margin-bottom: 100px;
    }

    .detail-item {
        padding: 15px;

        img {
            height: 400px;
            object-fit: contain;
        }

        .video {
            display: block;
            margin-left: auto;
            border: none;
            background-color: $bg-btn;
            border-radius: 50%;
            padding: 12px 15px;
            transition: 1s;

            &:hover {
                background: $btn-hover;

                i {
                    color: $white;
                }
            }

        }
    }

    .detail-text {
        #one {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 23px;
            color: #000000;
            padding-top: 30px;
        }

        h2 {
            font: normal bold 26px 'Montserrat', sans-serif;
            line-height: 44px;
            letter-spacing: 0.02em;
            color: #222222;
        }

        p {
            font: normal normal 16px 'Montserrat', sans-serif;
            line-height: 23px;
            color: #000000;
            margin-bottom: 50px;
        }

        .regular .next {
            position: absolute;
            top: 50%;
            right: 0;
            width: auto;
            z-index: 99;
            padding: 13px;
            background-color: transparent;
            border: none;
            outline: none;

            img {
                width: 20px;
                height: 20px;
            }
        }

        .regular .prev {
            position: absolute;
            top: 50%;
            left: 0;
            width: auto;
            z-index: 99;
            padding: 13px;
            border: none;
            outline: none;
            background-color: transparent;

            img {
                width: 20px;
                height: 20px;
            }
        }
    }

    .tab {
        border-bottom: 1px solid #A9A9A9;

        .active {
            a {
                font-weight: 600;
                color: $main !important;
                border-bottom: 3px solid $main;
                padding-bottom: 15px;
            }
        }

        .tablinks {
            background-color: transparent;
            border: none;
            outline: none;
            padding: 15px;


            a {
                font: normal 500 18px 'Montserrat', sans-serif;
                letter-spacing: 0.02em;
                margin-right: 30px;
                line-height: 23px;
                color: #414141;

            }


        }


    }

    .tabcontent {
        display: none;
        p{
            padding: 0;
            margin: 0;
        }
    }

    .active {
        display: block;
    }

    table {
        tr {
            td {
                font: normal normal 16px 'Montserrat', sans-serif;
                line-height: 23px;
                color: $black;
                text-align: end;

                &:first-child {
                    font: normal 500 16px 'Montserrat', sans-serif;
                    line-height: 23px;
                    color: $black;
                    text-align: start;
                }

            }
        }

    }

    .slick-dots {
        bottom: -20%;
        left: 0;
        right: 0;
        margin: auto;

        li {
            width: 15px;
            height: 15px;

            button {
                width: 15px;
                height: 15px;

                &::before {
                    width: 15px;
                    height: 15px;
                }
            }
        }

        .slick-active button:before {
            color: transparent;
            padding: 0;
        }

        .slick-active {
            border: 1px solid $main;
            padding: 0;
            border-radius: 50%;
        }

        li {

            margin: 0 10px 45px 0;
            padding-top: 2px;

            button:before {
                font-size: 10px;
                color: $main;
                opacity: 1;
            }
        }
    }

    .others {
        .slick-track {
            
            .slick-slide:nth-child(4n+1) {
                padding-left: 0px;
                padding-right: 20px;

            }
            
            .slick-slide {
                padding-left: 10px;
                padding-right: 10px;

            }
        }

        .regular .next {
            position: absolute;
            top: 50%;
            right: -60px;
            width: auto;
            z-index: 99;
            padding: 13px;
            background-color: transparent;
            border: none;
            outline: none;

            img {
                width: 20px;
                height: 20px;
            }
        }

        .regular .prev {
            position: absolute;
            top: 50%;
            left: -80px;
            width: auto;
            z-index: 99;
            padding: 13px;
            border: none;
            outline: none;
            background-color: transparent;

            img {
                width: 20px;
                height: 20px;
            }
        }

        padding: 80px 0 120px 0;

        .new_arrival_item {
            background-color: $white;
            padding: 15px 15px 10px 15px;
            border-radius: 10px;
            width: 100% !important;

            &:hover {
                .heading {
                    h3 {
                        color: $main !important;
                    }
                }

            }

            .new_arrival_img {
                height: 300px;
                object-fit: contain;
            }

            .image {
                border-bottom: 1px solid $grid-border;
                position: relative;

                .heading {
                    position: absolute;
                    width: 100%;
                    background: linear-gradient(180deg, #FFFFFF 21.81%, rgba(255, 255, 255, 0) 135.07%);

                    h3 {
                        font: normal bold 16px 'Montserrat', sans-serif;
                        line-height: 33px;
                        text-align: center;
                        color: $black;


                    }

                    button {
                        background-color: $bg-btn;
                        border: none;
                        outline: none;
                        padding: 13px;
                        border-radius: 50%;

                    }
                }
            }

            .text {

                font: normal 500 13px 'Montserrat', sans-serif;
                line-height: 19px;
                text-align: center;
                color: #000000;
                padding-top: 10px;
            }


        }
    }

}