//colors
$black:#000000;
$white:#FFFFFF;
$gray :#7D7987;
$main:#328BE7;
$border:#E3E3E3;
$border_b:#D3D3D3;
$border-input:#EAEAEA;
$input:#868686;
$bg:#f8f9fa;
$bg-btn:#EEEEEE;
$grid-border:#CFCFCF;
$slick-border:#DBDBDB;
$ligt_grey:#414141;
$icon:#EFEFEF;
$footer:#141414;
$link:#949494;
$dots:#BBBBBB;
$menu:#F8F8F8;
$btn-hover:#EE2323;

