@media (max-width: 992px) {
    .container {
        width: 90%;
    }

    .navbar {
        background-color: $menu;

        .dropdown-toggle {
            &::after {
                content: none;
            }
        }

        .language button {
            border: none;
            outline: none;
            background-color: $icon;
            -moz-appearance: none;
            -webkit-appearance: none;
            font: normal 600 12px 'Montserrat', sans-serif;
            font-size: 14px;
            line-height: 12px;
            letter-spacing: 0.06em;
            color: $black;
            margin-left: 10px;
            border-radius: 50%;
            line-height: 12px;
            color: #000000;
            margin-right: 20px;
            padding: 15px 10px;
        }
    }

    .share.show button {
        padding: 15px 5px !important;
        font: normal normal 13px "Montserrat", sans-serif !important;
    }

    // header responsive
    #header {
        // margin-top: 50px;

        .header-item {
            background-repeat: no-repeat;
            height: 450px;
            background-size: cover;
            display: flex !important;

            .header-item_detail {
                padding-top: 25px;

                h2 {
                    font: normal bold 20px "Montserrat", sans-serif;
                    line-height: 26px;
                    color: $black;
                    margin-bottom: 10px;
                }

                p {
                    font: normal normal 14px "Montserrat", sans-serif;
                    line-height: 20px;
                    color: $black;
                }

                button {
                    background: $main;
                    border-radius: 5px;
                    padding: 10px 30px;
                    font: normal normal 14px "Montserrat", sans-serif;
                    line-height: 33px;
                    color: $white;
                    cursor: pointer;
                    margin-top: 50%;
                }
            }
        }

        .slick-dots {
            bottom: 0%;
            left: 0;
            right: 0;
            margin: auto;

            li {
                display: inline-flex;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                border: 1px solid transparent;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                padding: 0px;

                button:before {
                    display: none;
                }

                button {
                    color: transparent;
                    background-color: #f8f8f8;
                    width: 6.29px;
                    height: 6.29px;
                    border-radius: 50%;
                    padding: 0px;
                }
            }

            .slick-active {
                border: 1px solid $main;

                button:before {
                    display: none;
                }

                button {
                    background-color: $main;
                }
            }
        }
    }

    #delivery {
        .menu-link {
            margin-bottom: 0 !important;
        }

        .title {
            padding: 0;
            margin-bottom: 20px;

            h2 {
                font-size: 20px;
            }
        }

        .delivery_ {
            padding: 20px 10px !important;
            text-align: center;

            img {
                margin: auto;
            }

            h3 {
                font-size: 14px !important;
            }

            p {
                font-size: 12px !important;
                line-height: 16px !important;
            }
        }

        padding-top: 0 !important;
    }

    #new_arrival {
        padding-top: 60px;

        .regular .next {
            display: none !important;
        }

        .regular .prev {
            display: none !important;
        }

        .title {
            padding: 0;
            margin-bottom: 20px;

            h2 {
                font-size: 20px;
            }
        }

    }

    .slick-dots {
        left: 0;
        right: 0;
        margin: auto;

        li {
            display: inline-flex;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            border: 1px solid transparent;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            padding: 0px;

            button:before {
                display: none;
            }

            button {
                color: transparent;
                background-color: $dots;
                width: 6.29px;
                height: 6.29px;
                border-radius: 50%;
                padding: 0px;
            }
        }

        .slick-active {
            border: 1px solid $main;

            button:before {
                display: none;
            }

            button {
                background-color: $main;
            }
        }
    }

    #equipment {
        padding-top: 0px;

        .title {
            padding-bottom: 0;
            margin-bottom: 20px;
            padding-top: 60px;

            h2 {
                font-size: 20px;
            }

            .next-page {
                font-size: 10px;
            }
        }
    }

    #__equipment {
        .new_arrival_img{
            height: 200px !important;
        }
        padding-top: 0px;

        .title {
            padding-bottom: 20px;
            margin-bottom: 20px;

            h2 {
                font-size: 20px;
                padding: 0;
                line-height: 20px;
            }

            .next-page {
                font-size: 10px;
            }

            .filter {
                .dropdown-toggle {
                    &::after {
                        content: none;
                    }
                }

                .dropdown-item {
                    &:hover {
                        background-color: transparent !important;
                    }
                }

                ul {
                    padding: 20px 40px;
                    width: 200px;
                    top: 10px !important;
                    right: 20px !important;

                }

                button {
                    background-color: transparent;
                    border: none;
                    display: block;
                    float: right;

                }

                a.selected {
                    font-weight: 600;
                    color: #2196F3;
                }

                a {
                    font: 400 14px "Montserrat", sans-serif;
                    letter-spacing: 0.02em;
                    color: $black;
                    border-bottom: 0.5px solid #fff;
                    padding: 10px 0;
                    line-height: 24px;

                    .container {
                        display: block;
                        position: relative;
                        cursor: pointer;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                    }

                    /* Hide the browser's default checkbox */
                    .container input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }

                    /* Create a custom checkbox */
                    .checkmark {
                        position: absolute;
                        top: 0;
                        right: -35px;
                        height: 25px;
                        width: 25px;
                        background-color: transparent;
                    }

                    /* On mouse-over, add a grey background color */
                    .container:hover input~.checkmark {
                        background-color: #fff;
                    }

                    /* When the checkbox is checked, add a blue background */
                    .container input:checked~.checkmark {
                        background-color: #fff;
                    }

                    /* Create the checkmark/indicator (hidden when not checked) */
                    .checkmark {
                        &::after {
                            content: "";
                            position: absolute;
                            display: none;
                        }
                    }

                    /* Show the checkmark when checked */
                    .container input:checked~.checkmark {
                        &::after {
                            display: block;
                        }
                    }

                    /* Style the checkmark/indicator */
                    .container .checkmark {
                        &::after {
                            left: 9px;
                            top: 5px;
                            width: 5px;
                            height: 10px;
                            border: solid #2196F3;
                            border-width: 0 3px 3px 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }

                }

                img {
                    padding-left: 10px;
                }
            }
        }

        .new_arrival_item {


            .image {

                .heading {
                    justify-content: end !important;

                    h3 {
                        display: none;

                        &:hover {
                            color: $main;
                        }
                    }

                    button {
                        background-color: transparent;
                        border: none;
                        outline: none;
                        padding: 13px 16px;
                        border-radius: 50%;
                    }
                }
            }

            .text {

                font: normal 500 11px 'Montserrat', sans-serif;
                line-height: 19px;
                text-align: center;
                color: #000000;
                padding-top: 10px;
            }


        }
    }

    #_equipment {
        padding-top: 0px;

        .title {
            padding-bottom: 0;
            margin-bottom: 20px;
            padding-top: 60px;

            h2 {
                font-size: 20px;
            }

            .next-page {
                font-size: 10px;
            }
        }
    }

    #media {
        padding-top: 0px;

        .title {
            padding-bottom: 0;
            margin-bottom: 20px;
            padding-top: 60px;

            h2 {
                font-size: 20px;
            }

            .next-page {
                font-size: 10px;
            }
        }
    }

    #partners {
        padding-top: 0px;

        .title {
            padding-bottom: 0;
            margin-bottom: 20px;
            padding-top: 60px;

            h2 {
                font-size: 20px;
            }

            .next-page {
                font-size: 10px;
            }
        }

        .item {
            height: 80px;
            width: 80px!important;
            display: flex;
            align-items: center;
            margin-bottom: 70px;

            img {
                width: 90%;
                margin: auto;
            }
        }
    }

    #footer {
        padding: 0;
    }

    #about {
        padding-top: 0px;

        .title {
            padding-bottom: 0;
            margin-bottom: 20px;

            h2 {
                font-size: 20px;
            }

            .next-page {
                font-size: 10px;
            }
        }


        .menu-link {
            margin-bottom: 0 !important;
        }

        img {
            padding: 10px 0 !important;
        }

        p {
            font-size: 12px !important;
            line-height: 16px !important;
        }

    }

    #product {
        padding-top: 0px;

        .title {
            margin-bottom: 15px !important;

            a {
                font-size: 8px;
            }
        }

        .menu-link {
            margin-bottom: 0 !important;
        }

        .detail-text {
            h2 {
                font: normal bold 20px 'Montserrat', sans-serif;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #222222;
                text-align: start;
            }

            p {
                font: normal normal 11px 'Montserrat', sans-serif;
                line-height: 23px;
                color: #000000;
                margin-bottom: 20px;
                text-align: start;
            }
        }

        .tab {
            .active {
                a{
                    padding-bottom: 17px;
                }
            }
            .tablinks {
                padding: 15px 0 !important;
                

                a {
                    font: normal 500 14px 'Montserrat', sans-serif;
                    letter-spacing: 0.02em;
                    margin-right: 30px;
                    line-height: 23px;
                    color: #414141;

                }

            }

        }

        table {
            tr {
                td {
                    font: normal normal 16px 'Montserrat', sans-serif;
                    line-height: 23px;
                    color: $black;
                    text-align: end;

                    &:first-child {
                        font: normal 500 12px 'Montserrat', sans-serif;
                        line-height: 23px;
                        color: $black;
                        text-align: start;
                    }

                }
            }

        }
    }

    #media_ {
        .media__image{
            height: 200px !important;
            object-fit: cover;
            // questions
        }
        .menu-link {
            margin-bottom: 0 !important;
        }

        .news_detail {
            width: 100% !important;

            img {
                width: 150px !important;
                object-fit: cover;
            }

            .text_ {
                img {
                    width: 30px !important;
                }
            }
        }

        padding-top: 0px;

        .title {
            padding-bottom: 0;
            margin-bottom: 20px;

            h2 {
                font-size: 20px;
            }

            .next-page {
                font-size: 10px;
            }
        }

        .item {
            height: 80pc;
            display: flex;
            align-items: center;
            margin-bottom: 70px;

            img {
                width: 90%;
                margin: auto;
            }
        }

        .news {
            border-radius: 10px;
            margin-bottom: 30px;

            img {
                object-fit: cover;
            }

            .text_ {
                border-radius: 2px;
                background: rgba(255, 255, 255, 0.95);
                padding: 5px;
                min-height: auto;

                h4 {
                    font: normal 600 11px 'Montserrat', sans-serif;
                    color: $black;
                    margin-bottom: 5px;
                }

                p {
                    font: normal 300 9px 'Montserrat', sans-serif;
                    line-height: 10px;
                    color: $black;
                    margin: 0;

                }

                .time {
                    font: normal normal 8px 'Montserrat', sans-serif;
                    line-height: 14px;
                    color: $ligt_grey;
                }
            }


        }

        h3 {
            font: normal 600 14px 'Montserrat', sans-serif;
            line-height: 34px;
            color: $black;
        }

        span {
            font: normal normal 10px 'Montserrat', sans-serif;
            line-height: 29px;
            color: #3F3F3F;
        }

        p {
            font: normal normal 12px 'Montserrat', sans-serif;
            line-height: 29px;
            color: $black;
            margin-top: 40px;

        }


    }

    #contact {
        padding-top: 0px;

        .menu-link {
            margin-bottom: 0px;
        }

        i {
            display: none;
        }

        .contact-form {
            label {
                font-size: 13px !important;
            }

            button {
                margin-left: unset !important;
            }

        }

        .contact-text {
            margin: 0 0 20px 0 !important;

            b,
            p {
                font-size: 12px !important;
            }

            p {
                padding-top: 5px !important;
            }
        }

        .title {
            padding-bottom: 0;
            margin-bottom: 20px;

            h2 {
                font-size: 20px;
            }

            .next-page {
                font-size: 10px;
            }
        }

        .item {
            height: 80px;
            display: flex;
            align-items: center;
            margin-bottom: 70px;

            img {
                width: 90%;
                margin: auto;
            }
        }

        table {
            td {
                line-height: 30px;
            }
        }
    }

    .delivery_ {
        .menu-link {
            margin-bottom: 0 !important;
        }

        .title {
            padding: 0;
            margin-bottom: 20px;

            h2 {
                font-size: 20px;
            }
        }

        background: $white;
        border-radius: 10px;
        padding: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        p {
            font-size: 11px !important;
        }

        span {
            font-size: 12px !important;
        }
    }

}

@media (min-width: 1400px) {
    .container {
        max-width: 1240px;
    }

}